# mac shit
.DS_Store
**/.DS_Store

# dist compilation for frontend
frontend/public/

# node modules
node_modules/

# IDE stuff
.idea/*

# config DB
database.sqlite

# playwright
.chrome-pids.json

# whatsapp mcp
logs
whatsapp-sessions/
