# mac shit
.DS_Store
**/.DS_Store

# dist compilation for frontend
frontend/public/

# node modules
**/node_modules/

# IDE stuff
.idea/*

# config DB
database.sqlite

# playwright
.chrome-pids.json

# whatsapp mcp
logs
whatsapp-sessions/
3rd-party/whatsapp-mcp-ts/auth_info/
3rd-party/whatsapp-mcp-ts/data
.wwebjs_auth/
.wwebjs_cache/
mcp-logs.txt
wa-logs.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# software specific sensitive info stuff
LONGTERMMEMORY.md
